## Lists

---

## Basic List Operators

Las listas al ser secuenciales, soportan bastantes de los operadores de los strings.

`len` en una funcion __built-in__.
`len` es un diminutivo de _lenght_, este operador, cuenta la cantidad de valores que tiene una lista.

In [3]:
# Length
len([1, 2, 3])          # 3

3

In [4]:
len(['one', [2, 3], 'four'])    # returns 3, not 4

3

Igual que los _Strings_ las listas tambien se __concatenan__.

Al usar el operador `+` se concatenan, se juntan unas despues de otras.

In [ ]:
# Concatenation 
[1, 2, 3] + [4, 5, 6]       # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

Pero al usar el `*`, tanto los Strings como las listas de duplican esa contidad de veces

In [9]:
# # Repetition
cadena = ['Ni!'] * 4             # ['Ni!', 'Ni!', 'Ni!', 'Ni!']
lista = [1, 2, 3] * 4           # [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
print (cadena)
print (lista)

['Ni!', 'Ni!', 'Ni!', 'Ni!']
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

`str` es una __built-in__, todo lo que esté dentro de esta, pasa a ser String.
`list` es otra __built-in__, todo lo que esté dentro pasa a ser una __lista de carácteres__.

In [ ]:

str([1, 2]) + "34"      # Same as "[1, 2]" + "34"

(1, 36)

En este caso, al usar `str` obligas a que "[1, 2]" sea string y al poner las comillas a __34__ lo haces texto, por lo cual, se concatena en vez de sumarse.

In [16]:
[1, 2] + list("34")     # Same as [1, 2] + ["3", "4"]

[1, 2, '3', '4']

`[1, 2]` es una lista, y `list` hace que "34" se transforme en una __lista de carácteres__ en vez de ser un Strin, por tanto al sumarlos se concatenan.

### List Iteration and Comprehesion

Una __iteración__ es un porceso que se repite ne cada elemeto.

__value__ `in` es una keyword que usa python para repasar cada elemento de una variable, en busca del valor pedido.
`in` suele ir acompañado de `for`, este es un bucle que se repite hasta que acabe su condición.

In [18]:
# Checking whether an item is in a list
3 in [1, 2, 3]          # True

True

`in` es una keyword que al estar sola, devuelve un valor __ooleano__.
Si es cieta la condición, "True", sino, "False".

In [ ]:
for x in [1, 2, 3]:
    print(x, end='')

1a2a3a

Aqui `in` al esta acompañada de `for` no dan un valor booleano, sino que es un bucle.
En este ejemplo, recoge la lista y la guarda en x, y luego con `print(x, end=" ")` lo imprime con espacios entre los números.

una __List comprehesion__ es una forma de crear uan nueva lista aplicando una expresión a cada elemento de la secuencia.º

In [21]:
res = [c * 4 for c in 'SPAM']
res

['SSSS', 'PPPP', 'AAAA', 'MMMM']

In [22]:
#CRUD
res = []                # Create
for c in 'SPAM':        # Read
    res.append(c * 4)   # Update
del res[0]              # Delete
res

['PPPP', 'AAAA', 'MMMM']

In [23]:
list(map(abs, [-1, -2, 0, 1, 2]))      # Map a function across a sequence [1, 2, 0, 1, 2]

[1, 2, 0, 1, 2]

### Indexing, Slicing and Matrixes

El __Index__ o __índice__ de un elemto es su posición, es decir __Indexing__.

__Indexing__ o __indexado__ es el proceso de acceder a un elemento usando su posición dentro de una *cadena*, *lista* o *tupla*.

In [25]:
L = ['spam', 'Spam', 'SPAM!']
L[2]

'SPAM!'

Las listas empiezan en el __0__, por eso al poner `L[2]` da el tercer elemento.

In [26]:
L[-2]               # 'Spam'

'Spam'

Poniendolo negativo, cuenta desde izquierda a derecha.

In [ ]:
L[1:]               # ['Spam', 'SPAM!']

['spam']

Con los `[:]` cuentas a partir de los dos puntos, si está a la derecha del número, cuentas los elementos que estén en ese lado, si esta a la izquierda, no cuenta los que están a la derecha de dicho elemento.

In [28]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[1]

[4, 5, 6]

In [32]:
matrix[2][0]

7

In [30]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
matrix[1][1]

5

con `matrix` es algo similar, se divide en listas (0, 1, 2...) si pones `[1][1]`, te refieres a la segunda tabla y su segundo elemento.

## Changing Lists in Place

Como las listas son __mutables__, se pueden cambiar elementos en su lugar.
Esto te permite modificar la lista sin necesidad de hacer una copia.

### Index and slice assigments

El __slice assigment__ es modificar una lista "cortandola" y sustituyendo esos valores con otros nuevos.

In [54]:
L = ['spam', 'Spam', 'SPAM!']
L[1] = 'eggs'                       # Index assignment
L                                   # ['spam', 'eggs', 'SPAM!']

['spam', 'eggs', 'SPAM!']

sustituyes `spam` por `egg`.

In [55]:
L[0:2] = ['eat', 'more']            # Slice assignment: delete+insert, replaces items 0,1
L                                 # ['eat', 'more', 'SPAM!']

['eat', 'more', 'SPAM!']

sustituyes los dos primeros valores `spam, Spam`[0:2] por `eat, more`

In [ ]:
L = [1, 2, 3]                       # Replacement/insertion
L[1:2] = [4, 5]                     # [1, 4, 5, 3]
L

[1, 4, 5, 3]

`[1:2]` selecciona solo el elemento 2 (selecciona entre después del 1 y antes del 2) y lo remplaza por `[4, 5]`.

In [ ]:
L[1:1] = [6, 7]                     # Insertion (replace nothing)
L                                   # [1, 6, 7, 4, 5, 3]

[1, 6, 7, 4, 5, 3]

Se selecciona `[1:1]` es decir entre 1 y 1, nada, y se añade después del elemento 1 `[6, 7]`.

In [ ]:
L[1:2] = []                         # Deletion (insert nothing)
L                                   # [1, 7, 4, 5, 3]

[1, 7, 4, 5, 3]

Este es al revés, seleccionas el elemento 2 y lo sustituyes por nada, `[]`.

In [ ]:
L = [1]
L[:0] = [2, 3, 4]                   # Insert all at :0, an empty slice at front
L

[2, 3, 4, 1]

Selecciona el espacio que hay detrás del elemento y lo sustituye por `[2, 3, 4]`.

In [ ]:
L[len(L):] = [5, 6, 7]              #  Insert all at len(L):, an empty slice at end
L

[2, 3, 4, 1, 5, 6, 7]

copia `L`con `len(L):` e inserta en la copia `[5, 6, 7]`.

### List method calls

Como en los `strings` las listas tambien tienen un tipo especifico de metodos para modificarlos.

Los `metodos` son clases, solo que aplican a un objeto en particular.

##### apend

In [4]:
L = ['eat', 'more', 'SPAM!']        
L.append('please')                  # Append method call: add item at end
L                                   # ['eat', 'more', 'SPAM!', 'please']

['eat', 'more', 'SPAM!', 'please']

`.apend` añade un elemento más a la lista.

Si intentas añadir una lista a otra, la segunda se unira como un solo elemento al final de la otra.

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)                     # a: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
print(a)
print(a[8])

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
[8, 9]

##### sort

In [9]:
L.sort()                            # Sort list items ('S' < 'e')
L                                   # ['SPAM!', 'eat', 'more', 'please']

['SPAM!', 'eat', 'more', 'please']

`sort` ordena en orden descenedente.

In [10]:
L = ['abc', 'ABD', 'aBe']           # Sort with mixed case
L.sort()
L                                   # ['ABD', 'aBe', 'abc']

['ABD', 'aBe', 'abc']

In [11]:
L = ['abc', 'ABD', 'aBe']           # L ha sido cambiada in place en la operación sort() anterior, objeto mutable!
L.sort(key=str.lower)
L                                   # ['abc', 'ABD', 'aBe']

['abc', 'ABD', 'aBe']

##### extend

extiende la lista añadiendo elementos de otros enumerables.

In [12]:
L = [1, 2]
L.extend([3, 4, 5])                 # [1, 2, 3, 4, 5]
L.pop()                             # Delete and return last item (by default: −1): 5
L

[1, 2, 3, 4]

In [14]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]
a.extend(b)                         # a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
a.extend(range(3))                  # Extend list with elements from a non-list enumerable:
a                                   # a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

---

Las listas tambien pueden ser concatenadas.

In [15]:
a + b
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

---

##### reverse

In [16]:
print(L.reverse())                  # # In-place reversal method
L                                   # [4, 3, 2, 1]

None

[4, 3, 2, 1]

In [17]:
list(reversed(L))                   # Reversal built-in with a result (iterator)

[1, 2, 3, 4]

In [18]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::-1]
# [9, 8, 7, 6, 5, 4, 3, 2, 1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

##### pop

Es muy usado en estructuras __last-in first-out (LIFO)__.

Printa el valor indicado y lo elimina de la lista.

In [22]:
L = []
L.append(1)                         # Push onto stack
L.append(2)                         # [1, 2]
L.pop()                             # Pop off stack
L                                   # 2

[1]

##### index

In [24]:
L = ['spam', 'eggs', 'ham']
L.index("spam")                     # Index of an object (search/find)

0

`index` indica la posición que ocupa un elemento en la tabla.

##### insert

In [25]:
L.insert(1, 'toast')                # Insert at position
L

['spam', 'toast', 'eggs', 'ham']

`insert` añade el elemento que quieras en la posicion que pongas, dentro de la tabla.

##### remove

In [26]:
L.remove('eggs')                    # Delete by value
L

['spam', 'toast', 'ham']

##### count

In [30]:
L.count('spam',)                     # Number of occurrences

1

Cuenta el número de veces que aparace el elemento escrito.

##### del

Como las listas son __mutables__ puedes usar `del` para eliminar objetos o posiciones.

In [31]:
L = ['spam', 'eggs', 'ham', 'toast']
del L[0]                                # Delete one item
L

['eggs', 'ham', 'toast']

#### Iterating over list

In [32]:
my_list = ['foo', 'bar', 'baz']
for item in my_list:
    print(item)

foo
bar
baz

In [33]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))

The item in position 0 is: foo
The item in position 1 is: bar
The item in position 2 is: baz

#### Operaciones lógicas sobre una lista

In [34]:
lst = []
not lst

True

In [35]:
3 in [1, 2, 3]          # True

True

#### Any and All

`all` determina si todos los valores son `True`.

In [36]:
nums = [1, [1], 'a', 1]
all(nums)
# True

True

In [38]:
chars = ['a', 'b', 'c', 'd']
all(chars)
# True

True

`any` determina si uno o más son `True`.

In [39]:
nums = [1, 1, 0, 1]
any(nums)
# True

True

In [40]:
vals = [None, 0, [], False, '']
any(vals)
# False

False

#### Remove duplicate values in list

In [41]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))
# Out: ['duke', 'tofp', 'aixk', 'edik']

['aixk', 'edik', 'duke', 'tofp']